@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "light";

  --color-primary: #1446a0;
  --color-secondary: #db3069;
  --color-base-100: #f4f6f8;
  --color-base-200: #ebebd3;
  --color-accent: #f5d547;
}
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #4d7cf3;
  --color-secondary: #db3069;
  --color-base-100: #0f172a;
  --color-base-200: #ebebd3;
  --color-accent: #f5d547;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

a.active {
  @apply text-white bg-[#db3069] font-bold rounded-lg;
}
